<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
   <!--LOCALHOST-->
    <!--<add name="proyecto" connectionString="Asynchronous Processing=true;Data Source=TUTELKAN-DH\SQLEXPRESS;Initial Catalog=base_datos3;Persist Security Info=True;User ID=log;Password=123;Pooling=false;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    
    <!--PRODUCCIÓN TE-APOYO-->
    <add name="proyecto" connectionString="Asynchronous Processing=true;Data Source=teapoyo-sqlsrvprod01.database.windows.net;Initial Catalog=db_prod01;Persist Security Info=True;User ID=sudo_admin;Password=PeterPepeers01;Pooling=false;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <!--LOCAL-->
    <!--<add key="DocsUrl" value="http://localhost:52187" />
    <add key="DocumentosUrl" value="http://localhost:52187/file/" />
    <add key="baseURL" value="http://localhost:8080/" />-->
    <add key="rutaFisicaDocumento" value="R:\Tutelkan\VHT_REPOS\t2021036---sgi\server\proyecto\file\" />
    <add key="rutaFisicaNorma" value="R:\Tutelkan\VHT_REPOS\t2021036---sgi\server\proyecto\norma\" />
    <!--VHT-->
    
    <add key="DocsUrl" value="hhttp://localhost:62787" />
    <add key="DocumentosUrl" value="http://localhost:62787/file/" />
    <add key="baseURL" value="http://localhost:62787/" />
    <add key="clientURL" value="http://localhost:8081/teapoyo/" />
    <add key="URLrecuperacion" value="http://localhost:8081/teapoyo/recupera/" />
    <!--<add key="rutaFisicaDocumento" value="C:\inetpub\wwwroot\SOCOEPA_SGI\server\file" />
    <add key="rutaFisicaNorma" value="C:\inetpub\wwwroot\SOCOEPA_SGI\server\norma" />-->
    <!--QA-->
    <!--<add key="DocsUrl" value="hhttp://192.168.4.63:8087/server" />
    <add key="DocumentosUrl" value="http://192.168.4.63:8087/server/file/" />
    <add key="rutaFisicaDocumento" value="C:\inetpub\wwwroot\SOCOEPA_SGI\server\file" />
    <add key="rutaFisicaNorma" value="C:\inetpub\wwwroot\SOCOEPA_SGI\server\norma" />
    <add key="baseURL" value="http://192.168.4.63:8087/" />
    <add key="clientURL" value="http://192.168.4.63/sgi_socoepa/" />-->
    <!--<add key ="URLrecuperacion" value ="http://192.168.4.63/sgi_socoepa/recupera/"/>-->
    <!--PRODUCCION-->
    <!--     <add key="DocsUrl" value="http://sgi.lfe.cl/server" />
    <add key="DocumentosUrl" value="http://sgi.lfe.cl/server/file/" />
    <add key="rutaFisicaDocumento" value="C:\inetpub\wwwroot\SGI\server\file\" />
    <add key="rutaFisicaNorma" value="C:\inetpub\wwwroot\SGI\server\norma" />
    <add key="baseURL" value="http://sgi.lfe.cl/" /> -->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" useFullyQualifiedRedirectUrl="true" maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type" />-->
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization, X-File-Name,cache-control" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS , PATCH" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <!--<parameter value="Data Source=localhost; Integrated Security=True; MultipleActiveResultSets=True"  />-->
        <parameter value="Asynchronous Processing=true;Data Source=TUTELKAN-DH\SQLEXPRESS;Initial Catalog=base_datos3;Persist Security Info=True;User ID=log;Password=123;Pooling=false;MultipleActiveResultSets=True" />
        <!--<parameter value="Asynchronous Processing=true;Data Source=172.16.201.160;Initial Catalog=SGI_QA;Persist Security Info=True;User ID=sa;Password=SQLwines.2018;Pooling=false;MultipleActiveResultSets=True" />-->
        <!-- <parameter value="Asynchronous Processing=true;Data Source=172.16.201.160;Initial Catalog=SGI_PROD;Persist Security Info=True;User ID=sa;Password=SQLwines.2018;Pooling=false;MultipleActiveResultSets=True" /> -->
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Oracle.ManagedDataAccess.Client" />-->
      <!--<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    </DbProviderFactories>
  </system.data>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        -->
  <!--<dataSource alias="login" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.4.55)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SID=orcl)));User Id=sys_controlTrafico; Password=TTLKN3535; " />-->
  <!--
        -->
  <!--<dataSource alias="login" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SID=xe)));User Id=control_trafico_local; Password=control_trafico_local; " />-->
  <!--
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
</configuration>